### Indexfiles

Indexfiles/data2011/Run2011A_DoubleElectron/CMS_*
Indexfiles/data2011/Run2011A_DoubleMu/CMS_*

Indexfiles/data2012/Run2012B_DoubleElectron/CMS_*
Indexfiles/data2012/Run2012B_DoubleMuParked/CMS_*
Indexfiles/data2012/Run2012C_DoubleElectron/CMS_*
Indexfiles/data2012/Run2012C_DoubleMuParked/CMS_*

Indexfiles/moca2011/ZZTo4mu/CMS_*
Indexfiles/moca2011/ZZTo4e/CMS_*
Indexfiles/moca2011/ZZTo2e2mu/CMS_*
Indexfiles/moca2011/TTTo2L2Nu2B/CMS_*
Indexfiles/moca2011/DYJetsToLL_M-10To50/CMS_*
Indexfiles/moca2011/DYJetsToLL_M-50/CMS_*
Indexfiles/moca2011/SMHiggsToZZTo4L/CMS_*

Indexfiles/moca2012/DYJetsToLL_M-10to50_HT-200to400/CMS_*
Indexfiles/moca2012/DYJetsToLL_M-10to50_HT-400toInf/CMS_*
Indexfiles/moca2012/DYJetsToLL_M-50/CMS_*
Indexfiles/moca2012/SMHiggsToZZTo4L/CMS_*
Indexfiles/moca2012/TTTo2L2Nu2B/CMS_*
Indexfiles/moca2012/ZZTo2e2mu/CMS_*
Indexfiles/moca2012/ZZTo4e/CMS_*
Indexfiles/moca2012/ZZTo4mu/CMS_*

### Indexfiles-Splitted

Indexfiles-Splitted/data2011/Run2011A_DoubleElectron/CMS_*
Indexfiles-Splitted/data2011/Run2011A_DoubleMu/CMS_*

Indexfiles-Splitted/data2012/Run2012B_DoubleElectron/CMS_*
Indexfiles-Splitted/data2012/Run2012B_DoubleMuParked/CMS_*
Indexfiles-Splitted/data2012/Run2012C_DoubleElectron/CMS_*
Indexfiles-Splitted/data2012/Run2012C_DoubleMuParked/CMS_*

Indexfiles-Splitted/moca2011/ZZTo4mu/CMS_*
Indexfiles-Splitted/moca2011/ZZTo4e/CMS_*
Indexfiles-Splitted/moca2011/ZZTo2e2mu/CMS_*
Indexfiles-Splitted/moca2011/TTTo2L2Nu2B/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-10To50/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_1/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_2/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_3/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_4/CMS_*
Indexfiles-Splitted/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_5/CMS_*
Indexfiles-Splitted/moca2011/SMHiggsToZZTo4L/CMS_*

Indexfiles-Splitted/moca2012/DYJetsToLL_M-10to50_HT-200to400/CMS_*
Indexfiles-Splitted/moca2012/DYJetsToLL_M-10to50_HT-400toInf/CMS_*
Indexfiles-Splitted/moca2012/DYJetsToLL_M-50/CMS_*
Indexfiles-Splitted/moca2012/SMHiggsToZZTo4L/CMS_*
Indexfiles-Splitted/moca2012/TTTo2L2Nu2B/CMS_*
Indexfiles-Splitted/moca2012/ZZTo2e2mu/CMS_*
Indexfiles-Splitted/moca2012/ZZTo4e/CMS_*
Indexfiles-Splitted/moca2012/ZZTo4mu/CMS_*

### Output

Output/data2011/Run2011A_DoubleElectron/CMS_*
Output/data2011/Run2011A_DoubleMu/CMS_*

Output/data2012/Run2012B_DoubleElectron/CMS_*
Output/data2012/Run2012B_DoubleMuParked/CMS_*
Output/data2012/Run2012C_DoubleElectron/CMS_*
Output/data2012/Run2012C_DoubleMuParked/CMS_*

Output/moca2011/ZZTo4mu/CMS_*
Output/moca2011/ZZTo4e/CMS_*
Output/moca2011/ZZTo2e2mu/CMS_*
Output/moca2011/TTTo2L2Nu2B/CMS_*
Output/moca2011/DYJetsToLL_M-10To50/CMS_*
Output/moca2011/DYJetsToLL_M-50/CMS_*
Output/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_1/CMS_*
Output/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_2/CMS_*
Output/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_3/CMS_*
Output/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_4/CMS_*
Output/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_5/CMS_*
Output/moca2011/SMHiggsToZZTo4L/CMS_*

Output/moca2012/DYJetsToLL_M-10to50_HT-200to400/CMS_*
Output/moca2012/DYJetsToLL_M-10to50_HT-400toInf/CMS_*
Output/moca2012/DYJetsToLL_M-50/CMS_*
Output/moca2012/SMHiggsToZZTo4L/CMS_*
Output/moca2012/TTTo2L2Nu2B/CMS_*
Output/moca2012/ZZTo2e2mu/CMS_*
Output/moca2012/ZZTo4e/CMS_*
Output/moca2012/ZZTo4mu/CMS_*

### OutputMerged

OutputMerged/*.root

### Submission

Submission/token.txt

Submission/logs/data2011/Run2011A_DoubleElectron/CMS_*
Submission/logs/data2011/Run2011A_DoubleMu/CMS_*

Submission/logs/data2012/Run2012B_DoubleElectron/CMS_*
Submission/logs/data2012/Run2012B_DoubleMuParked/CMS_*
Submission/logs/data2012/Run2012C_DoubleElectron/CMS_*
Submission/logs/data2012/Run2012C_DoubleMuParked/CMS_*

Submission/logs/moca2011/ZZTo4mu/CMS_*
Submission/logs/moca2011/ZZTo4e/CMS_*
Submission/logs/moca2011/ZZTo2e2mu/CMS_*
Submission/logs/moca2011/TTTo2L2Nu2B/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-10To50/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-50/CMS_*			   
Submission/logs/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_1/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_2/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_3/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_4/CMS_*
Submission/logs/moca2011/DYJetsToLL_M-50/DYJetsToLL_M-50_sample_5/CMS_*
Submission/logs/moca2011/SMHiggsToZZTo4L/CMS_*

Submission/logs/moca2012/DYJetsToLL_M-10to50_HT-200to400/CMS_*
Submission/logs/moca2012/DYJetsToLL_M-10to50_HT-400toInf/CMS_*
Submission/logs/moca2012/DYJetsToLL_M-50/CMS_*
Submission/logs/moca2012/SMHiggsToZZTo4L/CMS_*
Submission/logs/moca2012/TTTo2L2Nu2B/CMS_*
Submission/logs/moca2012/ZZTo2e2mu/CMS_*
Submission/logs/moca2012/ZZTo4e/CMS_*
Submission/logs/moca2012/ZZTo4mu/CMS_*

### Result

Result/*.pdf

